body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.custom-shadow{
    filter: blur();
    box-shadow: 0 1px 1px rgba(0,0,0,0.02),
        0 2px 2px rgba(0,0,0,0.05),
        0 4px 4px rgba(0,0,0,0.05),
        0 8px 8px rgba(0,0,0,0.05),
        0 16px 16px rgba(0,0,0,0.05);
}

.parallax{
    background-image: url("../img/ai_dragon_clouds_sig_8mg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    position: relative;
    z-index: -1;

}
.parallax .custom-text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    mix-blend-mode: overlay;

}
.custom-text{

    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.custom-border{
    border-color: #1a1d20;
    border-style: solid;
}
.custom-year{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.custom-photo{
    position: relative;
}

.custom-bar{
    transition: top 0.5s ease;

}
.navbar .custom-nav-active .custom-nav-inactive{
    font-family: 'Gothic A1', sans-serif;

}
.custom-mainnav{
    font-weight: bold;
}
.navbar-hide {
    top: -60px;
}
.row {
    display: flex;
}
.custom-nav-active{
    letter-spacing: 2px;
}
.custom-nav-inactive{
    background-size: 100% 200%;
    background-image: linear-gradient(to top,  #212529 50%,white 50%);
    -webkit-transition: background-position 1s;
    transition: background-position .5s;
}
.custom-nav-inactive:hover {
    background-position: 0 100%;
    color: white;
}



.item {
    display: flex;
    flex-direction: column;
    background-color: black;
}
.item img{

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
}
.item:hover img{
    opacity: 0.5;
}

.item.left {
    flex-direction: row;
}

.item.left .well {
    width: 100%;
    align-self: stretch;
}

.item.left .well img {
    height: 100%;
}